/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable*/

/* Base style */

html {
  font-size: 1.125em; 
  line-height: 1.444em; 
  font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
}

h1 {
  font-size: 1.9375em; /* 34.875 / 18 */
  text-align: left;
  padding: 1.1em;
}

footer{
  text-align:center;
}
#brand{
  padding-left:0.55em;
}
#dropdown{
  padding-left:1.1em;
}
article{
  padding-left:0.55em;
}
/* Modular style */
ul {
  list-style-position: inside;
  padding-left: 0.55em;
  padding-right: 0.55em;
  padding-bottom: 0.55em;
}
/* Layout style */
html{
  background: #85C1E9;
  background-size:cover;
  background-size:auto;
}

header{
  background: url(car.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-bottom: 15%;
}

.box {
    border: 0.225em solid #333;
    overflow: auto;
    background-color: #EBF5FB;
}
.imgs {
    float: right;
}
.imgs img {
    display: block;
    width:100%;
}
.maincontent {
  font-size:125%;
}
.title {
    font-weight: bold;
    font-size: 200%;
    padding: 0.35em;
    background: #ccc;
}

#brand{
  cursor:pointer;
}

@media screen and (min-width: 0.1em) and (max-width: 72em) {
.maincontent {
  font-size:100%;
}
.title {
    font-size: 150%;
}



